.imagen-header {
  width: 100%;
  height: 100%;
  opacity: 0.8;
 
}



.navbar {
  z-index: 2;
  opacity: 0.9;
  width: 100%;
  margin-top: 0;
}


.main-section {
  margin:0 auto;
  margin-top: 0px;
  /* margin-left: 350px; */

}

#form-control1 {
  background-color: Gainsboro;
  padding: 10px;
}

#form-control1::before {
  content: \f007;

}

#form-control2 {
  background-color: Gainsboro;
  padding: 10px;
}