.imagen-header {
  width: 100%;
  height: 100%;
  opacity: 0.8; 
}

.navbar {
  z-index: 2;
  opacity: 0.9;
  width: 100%;
  margin-top: 0;
}

.main-section {
  margin:0 auto;
  margin-top: 0px;
  margin-left: 350px;
}

#form-control1 {
  background-color: Gainsboro;
  padding: 10px;
}

#form-control2 {
  background-color: Gainsboro;
  padding: 10px;
}

#contenedorPrincipal {
height: 75vh;
    background-repeat: no-repeat;
    background: url(./images/Portada.png) no-repeat center center fixed;
    background-size: 100% 100%;
}

#containerMenu {
  height: 75vh;
    background-repeat: no-repeat;
    background: url(./images/portadamenu.jpg) ;
    background-size: 100% 100%;
}

#navinicio {
  border-bottom: 1px solid #cacacc;
}



/* Footer */

.main-footer {

  background-color: rgb(119, 136, 153);
  color: white;
  padding: 40px;
}


/* Registro */

.bg {
  border-bottom: 2px solid #9e9ea0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), #cececf);
  
  transform: skewY(-7deg);
  /* border-top: sienna; */
}

.fondo {
  transform: skewY(7deg);
}

#boton {
  color:  #ebebf7;
  background-color: #8d8a8a;
}

#navregistro {
  border-bottom: 1px solid #cacacc;
}

/* Menu */

#card1 {
  border-radius: 10px;
  border-color: #b6b5b5;  
  box-shadow: 0 20px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0,25s;
}

#card1:hover {
  transform: translateY(-35px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#card2 {
  border-radius: 10px;
  border-color: #b6b5b5;  
  box-shadow: 0 20px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0,25s;
}

#card2:hover {
  transform: translateY(-35px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#card3 {
  border-radius: 10px;
  border-color: #b6b5b5;  
  box-shadow: 0 20px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0,25s;
}

#card3:hover {
  transform: translateY(-35px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#card4{
  border-radius: 10px;
  border-color: #b6b5b5;  
  box-shadow: 0 20px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0,25s;
}

#card4:hover {
  transform: translateY(-35px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


#card5 {
  border-radius: 10px;
  border-color: #b6b5b5;  
  box-shadow: 0 20px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0,25s;
}

#card5:hover {
  transform: translateY(-35px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#card6 {
  border-radius: 10px;
  border-color: #b6b5b5;  
  box-shadow: 0 20px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0,25s;
}

#card6:hover {
  transform: translateY(-35px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}